h1 {
  text-align: center;
}

.insert-users  {
  background: #333;
  color: white;

  display: block;
  width: max-content;
  margin-bottom: 1em;
  padding: 10px 15px;
  border-radius: 5px;

  float: right;
  position: relative;
  right: 50px;
}

.table-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  text-align: left;
  padding: 8px;
}

table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  background: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.fa-trash-can {
  color: red;
}

.progress {
  color: rgb(0, 108, 216);
}
