body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.content {
  flex: 1 1 auto;
  position: relative;

  display: grid;
  grid-template-rows: auto max-content auto;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: var(--title);
}

/* Text */
#text {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  font-size: 32px;
}

.relative {
  position: relative;
}

.word {
  position: relative;
  font-family: sans-serif;
  margin-right: 5px;
}

.word.pronunced {
  color: gray;
}

.word.pronunced.last:after {
  content: "";
  display: block;
  width: 2px;
  height: 40px;
  background: red;

  position: absolute;
  top: 50%;
  left: calc(100% - 3px);
  translate: 3px -50%;
}

/* Record button */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  position: relative;
}

.record-button {
  display: block;
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid var(--orange);
  background: var(--orange);
  color: var(--white);
  font-size: 65px;
}

.record-button.active {
  background: var(--white);
  color: var(--orange);
}

.restart {
  position: absolute;
  translate: -100px 50px;

  display: block;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid var(--orange);
  background: var(--white);
  color: var(--orange);
  font-size: 25px;
}

/* Result */
.result {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 130%;
  translate: -50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.result button {
  cursor: pointer;

  font-size: 22px;
  font-family: inherit;
  color: white;

  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
  background: var(--orange);
}

/* Info */
.info {
  position: absolute;
  top: 5px;
  right: 5px;
}

.info .caption {
  position: absolute;
  right: 20px;
  top: 0;
  
  font-size: 0.9em;
  width: 500px;
  border-radius: 10px;
  padding: 5px 10px;
  border: 3px solid #d29052;
  background: rgb(240, 230, 213);
  pointer-events: none;

  opacity: 0;
}

.info i {
  cursor: pointer;
}

.info:has(i:hover) .caption {
  /* content: "Benvenuto su Dislexia Trainer! Per il corretto funzionamento dell'applicazione ricordati di scandire bene le parole e di trovarti in un'ambiente silenzioso. Il nostro obiettivo è quello di aiutarti a migliorare nella lettura di frasi e parole che diventano sempre più complicate ogni livello che passi. Per salire di livello devi fare almeno 7 tentativi per ogni livello e di questi 7, almeno 5 tentativi devono essere corretti. E adesso divertiti a leggere con Dislexia Trainer"; */
  opacity: 1;

}
